---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
---

<Layout
  title="David Levast - Développeur Web | Cybersécurité et Expériences Utilisateur Innovantes"
>
  <header>
    <Header />
  </header>
  <div class="intro">
    <img src="/profile-img/profile_img2.png" alt="" class="avatar" />
    <div class="content">
      <div class="title">
        <h1>David Levast</h1>
        <h2>Développeur utile</h2>
      </div>
      <div class="social">
        <a href="mailto:david.levast27@gmail.com" target="_blank">
          <iconify-icon
            icon="material-symbols-light:mail-outline"
            style="color: white;"
            width="48"
            height="48"></iconify-icon>
        </a>
        <a href="https://github.com/dasyx" target="_blank">
          <iconify-icon
            icon="iconoir:github"
            style="color: white;"
            width="42"
            height="32"></iconify-icon>
        </a>
        <a
          href="https://www.linkedin.com/in/david-levast-9553881aa/"
          target="_blank"
        >
          <iconify-icon
            icon="teenyicons:linkedin-outline"
            style="color: white;"
            width="38"
            height="38"></iconify-icon>
        </a>
      </div>
    </div>
  </div>
  <main>
    <Main />
  </main>
</Layout>

<style>
  @import "https://unpkg.com/normalize.css";
  @import "https://unpkg.com/open-props/normalize.min.css";
  @import "https://unpkg.com/open-props/open-props.min.css";

  header {
    background-size: cover;
    max-width: 100%;
    width: 100%;
    min-height: 200px;
    height: 25vh;
    position: relative;
    position: sticky;
    top: calc((var(--header-scroll) * -1) + var(--title-height));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  header:after {
    content: "";
    position: absolute;
    z-index: 1000;
    inset: 0;
    background: hsl(0 0% 0% / 0.25);
    opacity: 0;
    backdrop-filter: blur(6px);
    animation: fade-in both ease-in-out;
    animation-timeline: scroll();
    animation-range: calc((var(--header-scroll) - (var(--title-height) * 1.5)))
      calc((var(--header-scroll) + (var(--title-height) * 0)));
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h1 {
    color: currentColor;
    margin: 0;
  }

  .title {
    position: relative; /* Nécessaire pour l'animation */
    transition: transform 0.3s ease-out; /* Animation douce */
  }

  .title h2 {
    font-size: 1.2em;
    padding-left: 10px;
  }

  .avatar {
    width: var(--size-12);
    border-radius: 50%;
    border: var(--size-2) solid var(--surface-1);
    transform-origin: 0% 80%;
    animation: scale-down both ease-in-out;
    animation-timeline: scroll();
    animation-range: calc((var(--header-scroll) - (var(--title-height) * 1.5)))
      calc((var(--header-scroll) + (var(--title-height) * 1)));
    z-index: 2;
    align-self: flex-start; /* Assure que l'image reste alignée à gauche */
    margin-right: 20px; /* Ajoute un espace entre l'image et le texte */
  }

  .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 20px;
    background: linear-gradient(220.55deg, #0b0a47 0%, #4643df 100%);
    border-radius: 0; /* Pas de bords arrondis pour un bandeau */
    position: fixed; /* Fixe le bandeau en haut de la page */
    top: 0;
    left: 0;
    z-index: 100; /* Assure que le bandeau reste au-dessus du contenu */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour le contraste */
  }

  @keyframes scale-down {
    to {
      scale: 0.35;
      top: 50%;
      translate: 0 -50%;
    }
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    color: white;
    margin-right: auto;
  }

  .title h1 {
    font-size: 24px;
    margin: 0;
  }

  .title h2 {
    font-size: 18px;
    margin: 5px 0 0;
  }

  .social {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .social a {
    display: inline-flex;
  }

  .title-wrapper {
    display: flex;
    background: linear-gradient(220.55deg, #0b0a47 0%, #4643df 100%);
    position: relative;
    width: 100%;
    animation: shadow both;
    animation-timeline: scroll();
    animation-range: calc((var(--header-scroll) + var(--title-height)))
      calc((var(--header-scroll) + (var(--title-height) * 2)));
  }

  @keyframes shadow {
    to {
      box-shadow: var(--shadow-5);
    }
  }

  .title a {
    color: var(--red-6);
    font-weight: bold;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  @media (max-width: 768px) {
    .intro {
      flex-direction: column;
      text-align: center;
    }

    .content {
      flex-direction: column;
      align-items: center;
    }

    .social {
      margin-top: 10px;
    }

    .title-wrapper {
      flex-direction: column;
      width: 100%;
    }

    .social {
      justify-content: center;
    }
  }
</style>
