---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
//import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
  <header>
    <Header />
  </header>
  <div class="intro">
    <img src="/photo_main-removebg-preview.png" alt="" class="avatar" />
    <div class="title-wrapper">
      <div class="title">
        <h1>David Levast</h1>
        <h2>Développeur web</h2>
      </div>
      <div class="social px-7">
        <a href="mailto:david.levast27@gmail.com" target="_blank"
          ><iconify-icon
            icon="material-symbols-light:mail-outline"
            style="color: white;"
            width="48"
            height="48"></iconify-icon></a
        >
        <a href="https://github.com/dasyx" target="_blank" class=""
          ><iconify-icon
            icon="iconoir:github"
            style="color: white;"
            width="42"
            height="32"></iconify-icon></a
        >
        <a
          href="https://www.linkedin.com/in/david-levast-9553881aa/"
          target="_blank"
          ><iconify-icon
            icon="teenyicons:linkedin-outline"
            style="color: white;"
            width="38"
            height="38"></iconify-icon></a
        >
      </div>
    </div>
  </div>
  <main>
    <Main />
  </main>
</Layout>

<style>
  @import "https://unpkg.com/normalize.css";
  @import "https://unpkg.com/open-props/normalize.min.css";
  @import "https://unpkg.com/open-props/open-props.min.css";

  header {
    background-size: cover;
    max-width: 100%;
    width: 100%;
    min-height: 200px;
    height: 20vh;
    position: relative;
    position: sticky;
    top: calc((var(--header-scroll) * -1) + var(--title-height));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  header:after {
    content: "";
    position: absolute;
    inset: 0;
    background: hsl(0 0% 0% / 0.25);
    opacity: 0;
    backdrop-filter: blur(6px);
    animation: fade-in both ease-in-out;
    animation-timeline: scroll();
    animation-range: calc((var(--header-scroll) - (var(--title-height) * 1.5)))
      calc((var(--header-scroll) + (var(--title-height) * 0)));
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h1 {
    color: currentColor;
    margin: 0;
    @media screen and (max-width: 768px) {
      color: var(--gray-0);
    }
  }

  .title h2 {
    font-size: 1.2em;
    padding-left: 10px;
  }

  .avatar {
    width: var(--size-12);
    border-radius: 50%;
    border: var(--size-2) solid var(--surface-1);
    position: absolute;
    top: 0%;
    left: var(--size-4);
    translate: 0 -100%;
    transform-origin: 0% 50%;
    animation: scale-down both ease-in-out;
    animation-timeline: scroll();
    animation-range: calc((var(--header-scroll) - (var(--title-height) * 1.5)))
      calc((var(--header-scroll) + (var(--title-height) * 1)));
    z-index: 2;
  }
  @keyframes scale-down {
    to {
      scale: 0.35;
      top: 50%;
      translate: 0 -50%;
    }
  }

  .intro {
    max-width: 100%;
    position: sticky;
    top: 0;
    //margin-top: calc(var(--size-12) * 0.5);
  }

  main {
    max-width: 100%;
  }

  .title {
    color: var(--gray-11);
    height: var(--title-height);
    /*   display: grid; */
    gap: var(--size-2);
    padding: var(--size-4);
    animation: slide both ease-in-out;
    animation-timeline: scroll();
    animation-range: calc((var(--header-scroll) - (var(--title-height) * 1.5)))
      calc((var(--header-scroll) + (var(--title-height) * 0.25)));
  }

  @keyframes slide {
    to {
      color: var(--gray-0);
      translate: calc(var(--size-12) * 0.5) 0;
    }
  }

  .title-wrapper {
    display: flex;
    background: linear-gradient(220.55deg, #0b0a47 0%, #4643df 100%);
    position: relative;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    animation: shadow both;
    animation-timeline: scroll();
    animation-range: calc((var(--header-scroll) + var(--title-height)))
      calc((var(--header-scroll) + (var(--title-height) * 2)));
  }

  @keyframes shadow {
    to {
      box-shadow: var(--shadow-5);
    }
  }

  .title a {
    color: var(--red-6);
    font-weight: bold;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .social {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .social a {
    margin: 0 var(--size-1);
  }

  @media (min-width: 768px) {
    /* .title-wrapper {
      width: 100vw;
    } */
    .social {
      position: absolute;
      top: 25%;
      right: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .title-wrapper {
      flex-direction: column; /* Empile les éléments verticalement sur les petits écrans */
      width: 100%; /* Assurez-vous que la div occupe toute la largeur */
      box-shadow: none; /* Optionnel: supprime l'ombre pour un look plus simple sur les petits écrans */
    }

    .title {
      text-align: center; /* Centre le texte sur les petits écrans */
    }

    .social {
      justify-content: center; /* Centre les icônes sociales sur les petits écrans */
      position: relative; /* Ajuste la position si nécessaire */
      top: 0;
      right: 0;
    }
  }
</style>
