<div class="parent">
  <!-- SECTION A PROPOS -->
  <section class="bio">
    <div class="bio-text">
      <h3 class="my-6">À PROPOS DE MOI</h3>
      <p class="mb-6">
        <strong>Artisan du web</strong>, je transforme les concepts en réalités
        numériques captivantes. Avec un mélange de créativité et de rigueur
        technique, j'apporte des solutions web qui non seulement répondent aux
        besoins, mais les surpassent.
      </p>
      <p class="mb-6">
        <strong>Ma passion</strong> ? Explorer les dernières technologies pour
        créer des expériences utilisateur inoubliables.
      </p>
      <p class="mb-6">
        <strong>Mon approche</strong> : fusionner créativité et technicité pour
        donner vie à des projets web dynamiques et percutants.
      </p>
      <p>
        <a href="mailto:david.levast27@gmail.com"
          ><strong>Contactez-moi</strong></a
        > et avançons ensemble dans cette aventure numérique, où chaque ligne de
        code est une étape vers l'excellence.
      </p>
    </div>
    <div class="bio-img">
      <img src="../../public/code_thinking.svg" alt="Description de l'image" />
    </div>
  </section>
  <!-- FIN SECTION A PROPOS -->

  <!-- SECTION SKILLS -->
  <section class="skills">
    <h3 class="mt-6 mb-10">COMPETENCES</h3>
    <div class="basic-languages mt-6 mb-14">
      <h4 class="font-bold">Fondamentaux</h4>
      <ul>
        <li>
          <iconify-icon
            icon="vscode-icons:file-type-html"
            width="32"
            height="32"></iconify-icon>HTML
        </li>
        <li>
          <iconify-icon icon="vscode-icons:file-type-css" width="32" height="32"
          ></iconify-icon>CSS
        </li>
        <li>
          <iconify-icon icon="logos:javascript" width="32" height="32"
          ></iconify-icon>JavaScript
        </li>
      </ul>
    </div>
    <div class="frameworks_js mb-10">
      <h4 class="font-bold">Frameworks JS</h4>
      <ul>
        <li>
          <iconify-icon icon="devicon:svelte" width="32" height="32"
          ></iconify-icon>Svelte
        </li>
        <li>
          <!-- <iconify-icon icon="ri:vuejs-fill" width="32" height="32"></iconify-icon> -->
          <iconify-icon icon="devicon:vuejs" width="32" height="32"
          ></iconify-icon>Vue
        </li>
        <li>
          <!-- <iconify-icon icon="fontisto:nodejs" width="32" height="32"></iconify-icon> -->
          <iconify-icon icon="logos:nodejs-icon" width="32" height="32"
          ></iconify-icon>Node
        </li>
      </ul>
    </div>
    <div class="framework_css mb-10">
      <h4 class="font-bold">Frameworks CSS</h4>
      <ul>
        <li>
          <!-- <iconify-icon icon="teenyicons:tailwind-solid" width="32" height="32"></iconify-icon> -->
          <iconify-icon
            icon="skill-icons:tailwindcss-dark"
            width="32"
            height="32"></iconify-icon>Tailwind
        </li>
        <li>
          <!-- <iconify-icon icon="devicon-plain:bootstrap" width="32" height="32"></iconify-icon> -->
          <iconify-icon icon="logos:bootstrap" width="32" height="32"
          ></iconify-icon>Bootstrap
        </li>
        <li>
          <iconify-icon icon="logos:bulma" width="32" height="32"
          ></iconify-icon>Bulma
        </li>
      </ul>
    </div>
    <div class="database mb-10">
      <h4 class="font-bold">Bases de données</h4>
      <ul>
        <li>
          <iconify-icon icon="skill-icons:mysql-dark" width="32" height="32"
          ></iconify-icon>MySQL
        </li>
        <li>
          <!-- <iconify-icon icon="simple-icons:mongodb" width="32" height="32"></iconify-icon> -->
          <iconify-icon icon="devicon:mongodb" width="32" height="32"
          ></iconify-icon>MongoDB
        </li>
        <li>
          <!-- <iconify-icon icon="simple-icons:supabase" width="32" height="32"></iconify-icon> -->
          <iconify-icon icon="logos:supabase-icon" width="32" height="32"
          ></iconify-icon>Supabase
        </li>
      </ul>
    </div>
    <div class="build-tools mb-10">
      <h4 class="font-bold">Outils de Build et SSG</h4>
      <ul>
        <li>
          <iconify-icon icon="logos:astro-icon" width="32" height="32"
          ></iconify-icon>Astro
        </li>
        <li>
          <iconify-icon icon="logos:parcel-icon" width="32" height="32"
          ></iconify-icon>Parcel
        </li>
        <li>
          <iconify-icon
            icon="vscode-icons:file-type-vite"
            width="32"
            height="32"></iconify-icon>Vite
        </li>
      </ul>
    </div>
    <div class="tools mb-10">
      <h4 class="font-bold">Outils Divers</h4>
      <ul>
        <li>
          <iconify-icon
            icon="cib:visual-studio-code"
            style="color: black;"
            width="32"
            height="32"></iconify-icon>Visual Studio Code
        </li>
        <li>
          <iconify-icon
            icon="devicon:github"
            style="color: black;"
            width="32"
            height="32"></iconify-icon>GitHub
        </li>
        <li>
          <iconify-icon
            icon="devicon:canva"
            style="color: black;"
            width="32"
            height="32"></iconify-icon>Canva
        </li>
      </ul>
    </div>
    <div class="hosting">
      <h4 class="font-bold">Hébergement</h4>
      <ul>
        <li>
          <iconify-icon
            icon="logos:netlify-icon"
            style="color: black;"
            width="32"
            height="32"></iconify-icon>Netlify
        </li>
        <li>
          <iconify-icon
            icon="logos:vercel-icon"
            style="color: black;"
            width="32"
            height="32"></iconify-icon>Vercel
        </li>
      </ul>
    </div>
  </section>

  <!-- FIN SECTION SKILLS -->

  <section class="portfolio">
    <h3>Portfolio</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Leo urna molestie at
      elementum. Praesent elementum facilisis leo vel fringilla est ullamcorper.
      Curabitur vitae nunc sed velit dignissim sodales ut eu sem. Bibendum arcu
      vitae elementum curabitur vitae nunc sed. Tincidunt eget nullam non nisi
      est. Porttitor eget dolor morbi non arcu. Pellentesque elit eget gravida
      cum sociis natoque penatibus et. A cras semper auctor neque vitae tempus.
      Nisl tincidunt eget nullam non nisi. Cum sociis natoque penatibus et
      magnis dis. Viverra aliquet eget sit amet tellus cras adipiscing enim.
      Dictumst quisque sagittis purus sit amet volutpat consequat mauris. Felis
      imperdiet proin fermentum leo vel orci. Posuere morbi leo urna molestie
      at. Magna fermentum iaculis eu non. Vitae ultricies leo integer malesuada
      nunc vel. Rhoncus est pellentesque elit ullamcorper dignissim cras
      tincidunt lobortis. A cras semper auctor neque vitae tempus quam
      pellentesque nec.
    </p>
  </section>
  <section class="progress">
    <h3>In progress</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Leo urna molestie at
      elementum. Praesent elementum facilisis leo vel fringilla est ullamcorper.
      Curabitur vitae nunc sed velit dignissim sodales ut eu sem. Bibendum arcu
      vitae elementum curabitur vitae nunc sed. Tincidunt eget nullam non nisi
      est. Porttitor eget dolor morbi non arcu. Pellentesque elit eget gravida
      cum sociis natoque penatibus et.
    </p>
  </section>
  <section class="copywright">
    <h3>Copywright</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Leo urna molestie at
      elementum. Praesent elementum facilisis leo vel fringilla est ullamcorper.
      Curabitur vitae nunc sed velit dignissim sodales ut eu sem. Bibendum arcu
      vitae elementum curabitur vitae nunc sed. Tincidunt eget nullam non nisi
      est.
    </p>
  </section>
</div>

<style>
  .parent {
    display: grid;
    grid-template-columns: 1fr; /* On commence par une colonne pour mobile */
    grid-template-rows: auto; /* Hauteur automatique pour chaque ligne */
    grid-gap: 10px; /* Espace entre les divs pour les mobiles */
    height: auto; /* Hauteur automatique pour l'empilement */
    padding: 10px;
    margin: 0 auto;
  }

  .bio,
  .skills,
  .portfolio,
  .progress,
  .copywright {
    display: flex;
    flex-direction: column;
    background: rgba(
      255,
      255,
      255,
      0.1
    ); /* Background commun pour chaque div */
    border: 2px solid white; /* Bordure blanche pour chaque div */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Ombre légère pour le contraste */
    padding: 10px;
  }

  /* SECTION BIOGRAPHIE
  ================================ */

  .bio-text {
    margin-bottom: 60px;
  }

  .bio-text p,
  .bio-text h3 {
    margin-left: 20px;
  }

  .bio-img img {
    margin: 0 auto;
    width: 75%;
  }

  /* SECTION SKILLS
  ================================ */

  .skills {
    flex-direction: column;
  }
  .skills h3 {
    margin-left: 20px;
  }
  .skills h4 {
    padding-left: 10px;
  }
  .skills div ul {
    padding-left: 40px;
  }
  .skills div ul li {
    margin: 15px 0;
  }

  /* Media Query pour des écrans plus grands, par exemple pour tablettes */
  @media (min-width: 768px) {
    .parent {
      grid-template-columns: repeat(
        6,
        1fr
      ); /* Retour à la grille 6x9 pour écrans plus grands */
      grid-template-rows: repeat(9, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      height: auto; /* Hauteur fixe pour grands écrans */
      padding: 20px;
    }

    .bio {
      grid-area: 1 / 1 / 4 / 7;
    }

    .skills {
      grid-area: 4 / 1 / 10 / 3;
    }

    .portfolio {
      grid-area: 4 / 3 / 8 / 7;
    }

    .progress {
      grid-area: 8 / 3 / 10 / 5;
    }

    .copywright {
      grid-area: 8 / 5 / 10 / 7;
    }
  }

  /* Media Query pour des écrans encore plus grands, par exemple pour ordinateurs de bureau */
  @media (min-width: 1024px) {
    /* Vous pouvez ajouter des ajustements supplémentaires pour les écrans de bureau si nécessaire */

    .bio,
    .portfolio,
    .progress,
    .copywright {
      flex-direction: row;
      align-items: center;
    }
    .bio {
      padding-bottom: 50px;
    }
    .bio-text p,
    .bio-text h3 {
      margin-left: 20px;
    }
    .bio-text {
      padding-left: 20px;
    }
    .bio-img img {
      margin-left: 80px;
    }
  }

  @media (min-width: 1440px) {
    /* Vous pouvez ajouter des ajustements supplémentaires pour les écrans de bureau si nécessaire */
    .parent {
      width: 75%;
    }
    .bio-text {
      padding: 20px 0 0 30px;
    }
    .bio-img img {
      margin-left: 120px;
    }
  }
</style>
