<div class="parent">
  <section class="bio">
    <div class="bio-text">
      <h3 class="my-6">À PROPOS DE MOI</h3>
      <p class="mb-6">
        <strong>Artisan du web</strong>, je transforme les concepts en réalités
        numériques captivantes. Avec un mélange de créativité et de rigueur
        technique, j'apporte des solutions web qui non seulement répondent aux
        besoins, mais les surpassent.
      </p>
      <p class="mb-6">
        <strong>Ma passion</strong> ? Explorer les dernières technologies pour
        créer des expériences utilisateur inoubliables.
      </p>
      <p class="mb-6">
        <strong>Mon approche</strong> : fusionner créativité et technicité pour
        donner vie à des projets web dynamiques et percutants.
      </p>
      <p>
        <a href="mailto:david.levast27@gmail.com"
          ><strong>Contactez-moi</strong></a
        > et avançons ensemble dans cette aventure numérique, où chaque ligne de
        code est une étape vers l'excellence.
      </p>
    </div>
    <div class="bio-img">
      <img src="../../public/code_thinking.svg" alt="Description de l'image" />
    </div>
  </section>
  <section class="skills">
    <h3>Skills</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Leo urna molestie at
      elementum. Praesent elementum facilisis leo vel fringilla est ullamcorper.
      Curabitur vitae nunc sed velit dignissim sodales ut eu sem. Bibendum arcu
      vitae elementum curabitur vitae nunc sed. Tincidunt eget nullam non nisi
      est. Porttitor eget dolor morbi non arcu. Pellentesque elit eget gravida
      cum sociis natoque penatibus et. A cras semper auctor neque vitae tempus.
      Nisl tincidunt eget nullam non nisi. Cum sociis natoque penatibus et
      magnis dis. Viverra aliquet eget sit amet tellus cras adipiscing enim.
      Dictumst quisque sagittis purus sit amet volutpat consequat mauris. Felis
      imperdiet proin fermentum leo vel orci. Posuere morbi leo urna molestie
      at. Magna fermentum iaculis eu non. Vitae ultricies leo integer malesuada
      nunc vel. Rhoncus est pellentesque elit ullamcorper dignissim cras
      tincidunt lobortis. A cras semper auctor neque vitae tempus quam
      pellentesque nec.
    </p>
  </section>
  <section class="portfolio">
    <h3>Portfolio</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Leo urna molestie at
      elementum. Praesent elementum facilisis leo vel fringilla est ullamcorper.
      Curabitur vitae nunc sed velit dignissim sodales ut eu sem. Bibendum arcu
      vitae elementum curabitur vitae nunc sed. Tincidunt eget nullam non nisi
      est. Porttitor eget dolor morbi non arcu. Pellentesque elit eget gravida
      cum sociis natoque penatibus et. A cras semper auctor neque vitae tempus.
      Nisl tincidunt eget nullam non nisi. Cum sociis natoque penatibus et
      magnis dis. Viverra aliquet eget sit amet tellus cras adipiscing enim.
      Dictumst quisque sagittis purus sit amet volutpat consequat mauris. Felis
      imperdiet proin fermentum leo vel orci. Posuere morbi leo urna molestie
      at. Magna fermentum iaculis eu non. Vitae ultricies leo integer malesuada
      nunc vel. Rhoncus est pellentesque elit ullamcorper dignissim cras
      tincidunt lobortis. A cras semper auctor neque vitae tempus quam
      pellentesque nec.
    </p>
  </section>
  <section class="progress">
    <h3>In progress</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Leo urna molestie at
      elementum. Praesent elementum facilisis leo vel fringilla est ullamcorper.
      Curabitur vitae nunc sed velit dignissim sodales ut eu sem. Bibendum arcu
      vitae elementum curabitur vitae nunc sed. Tincidunt eget nullam non nisi
      est. Porttitor eget dolor morbi non arcu. Pellentesque elit eget gravida
      cum sociis natoque penatibus et.
    </p>
  </section>
  <section class="copywright">
    <h3>Copywright</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Leo urna molestie at
      elementum. Praesent elementum facilisis leo vel fringilla est ullamcorper.
      Curabitur vitae nunc sed velit dignissim sodales ut eu sem. Bibendum arcu
      vitae elementum curabitur vitae nunc sed. Tincidunt eget nullam non nisi
      est.
    </p>
  </section>
</div>

<style>
  .parent {
    display: grid;
    grid-template-columns: 1fr; /* On commence par une colonne pour mobile */
    grid-template-rows: auto; /* Hauteur automatique pour chaque ligne */
    grid-gap: 10px; /* Espace entre les divs pour les mobiles */
    height: auto; /* Hauteur automatique pour l'empilement */
    padding: 10px;
    margin: 0 auto;
  }

  .bio,
  .skills,
  .portfolio,
  .progress,
  .copywright {
    display: flex;
    flex-direction: column;
    background: rgba(
      255,
      255,
      255,
      0.1
    ); /* Background commun pour chaque div */
    border: 2px solid white; /* Bordure blanche pour chaque div */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Ombre légère pour le contraste */
    padding: 10px;
  }

  .bio-text {
    margin-bottom: 60px;
  }
  .bio-text p,
  .bio-text h3 {
    margin-left: 20px;
  }
  .bio-img img {
    margin: 0 auto;
    width: 75%;
  }
  /* Media Query pour des écrans plus grands, par exemple pour tablettes */
  @media (min-width: 768px) {
    .parent {
      grid-template-columns: repeat(
        6,
        1fr
      ); /* Retour à la grille 6x9 pour écrans plus grands */
      grid-template-rows: repeat(9, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      height: auto; /* Hauteur fixe pour grands écrans */
      padding: 20px;
    }

    .bio {
      grid-area: 1 / 1 / 4 / 7;
    }

    .skills {
      grid-area: 4 / 1 / 10 / 3;
    }

    .portfolio {
      grid-area: 4 / 3 / 8 / 7;
    }

    .progress {
      grid-area: 8 / 3 / 10 / 5;
    }

    .copywright {
      grid-area: 8 / 5 / 10 / 7;
    }
  }

  /* Media Query pour des écrans encore plus grands, par exemple pour ordinateurs de bureau */
  @media (min-width: 1024px) {
    /* Vous pouvez ajouter des ajustements supplémentaires pour les écrans de bureau si nécessaire */

    .bio,
    .skills,
    .portfolio,
    .progress,
    .copywright {
      flex-direction: row;
      align-items: center;
    }
    .bio {
      padding-bottom: 50px;
    }
    .bio-text p,
    .bio-text h3 {
      margin-left: 20px;
    }
    .bio-img img {
      margin-left: 80px;
    }
  }

  @media (min-width: 1440px) {
    /* Vous pouvez ajouter des ajustements supplémentaires pour les écrans de bureau si nécessaire */
    .parent {
      width: 75%;
    }
  }
</style>
